.header-salary {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  font-size: 32px;
  font-weight: 600;
}

.line-salary {
  min-height: 60px;
  margin: 8px 0;
  display: flex;
  align-items: start;
}

.salary-item-title {
  min-width: 200px;
  font-weight: 500;
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-advance-input {
  min-width: 25px;
  min-height: 25px;
  cursor: pointer;
  margin-left: 8px;
}

/* .icon-advance-input:last-child {
  margin-right: 0px;
} */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.pdf-viewer {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}